.list {
  display: grid;
  grid-auto-flow: column;

  @media (width <= 767px) {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background: var(--background);
    transition: transform 0.4s;
    grid-auto-flow: revert;
    place-content: center;
    font-size: var(--heading2);
    text-align: center;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 80px;

    > * {
      grid-row: 2;
    }
  }

  a {
    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    @media (hover: none) {
      &:active {
        opacity: 0.7;
      }
    }
  }
}

.list_open {
  composes: list;
  transform: translateX(-100%);
}

.ul {
  display: grid;
  grid-auto-flow: column;
  gap: var(--body);

  @media (width <= 767px) {
    grid-auto-flow: revert;
    overflow-y: auto;
  }
}

.btn {
  position: relative;

  > p {
    font-size: calc(var(--body) * 0.5);
  }

  @media (width <= 767px) {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-size: calc(var(--body) * 2);
    position: relative;
    z-index: 200;

    > svg {
      display: block;
      margin-inline: auto;
    }
  }

  @media (width >= 768px) {
    display: none;
  }
}
