.close {
  border: solid 1px var(--main-color);

  .text {
    animation: closeAnim 0.5s forwards;
  }
}

.open {
  composes: close;

  .icon {
    transform: rotate(180deg);
  }

  .text {
    animation: openAnim 0.5s forwards;
  }
}

@keyframes openAnim {
  0% {
    height: 0px;
  }
  99% {
    height: var(--text-height);
  }
  100% {
    height: auto;
  }
}

@keyframes closeAnim {
  0% {
    height: var(--text-height);
  }
  100% {
    height: 0px;
  }
}

.heading {
  margin: 0 !important;
  padding: 0 !important;
  justify-self: center;

  button {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--body);
  }
}

.icon {
  color: var(--text);
  transition: 0.5s;
}

.text {
  overflow: hidden;
  height: 0px;
  transition: none;
  font-size: var(--heading3);
}

.list {
  list-style: none;
  margin: 0 !important;
  padding: 0 var(--body) var(--body) !important;
  border: none;
  background-color: revert;
  overflow: hidden;
  transition: height 0.5s;

  ul {
    margin: 0;
    background-color: revert;
  }

  .open & {
    height: auto;
  }
}
