---
import Layout from "@layouts/layout.astro";
---

<Layout>
  <h1>Tech Flow.</h1>
</Layout>

<style is:global>
  main {
    display: grid;
    justify-content: center;
    align-items: center;
  }
</style>
