---
import type { ImageMetadata } from "astro";

const { url, title, dateTime, date } = Astro.props;

interface Props {
  url: string;
  src: ImageMetadata;
  alt?: string;
  title: string;
  dateTime: string;
  date: string;
  pubDateISO?: string;
  pubDateJA?: string;
  isModified?: boolean;
}
---

<article>
  <a href={url}>
    <h2>{title}</h2>
    <time datetime={dateTime}>{date}</time>
  </a>
</article>

<style>
  a {
    display: grid;
    grid-template:
      ". . . ." calc(var(--body) * 0.5)
      ". title title ." 1fr
      ". . date ." auto
      ". . . ." calc(var(--body) * 0.5)
      / var(--body) 1fr 1fr var(--body);
    aspect-ratio: 16 / 9;
    background-color: var(--card-background);
    border-radius: var(--body);
    overflow: hidden;
  }

  h2 {
    grid-area: title;
  }

  time {
    grid-area: date;
    justify-self: end;
  }
</style>
