---
import { faGithub, faTwitter } from "@fortawesome/free-brands-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<footer class="footer">
  <ul>
    <li>
      <a href="https://twitter.com/" target="_blank" rel="noreferrer">
        <FontAwesomeIcon icon={faTwitter} />
      </a>
    </li>
    <li>
      <a href="https://github.com/" target="_blank" rel="noreferrer">
        <FontAwesomeIcon icon={faGithub} />
      </a>
    </li>
  </ul>
</footer>

<style>
  .footer {
    display: grid;
    grid-template-columns: subgrid;

    > ul {
      grid-column: 2 / -2;
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      gap: calc(var(--body) * 2);
      padding: calc(var(--body) * 2);
      font-size: calc(var(--body) * 2);
    }
  }
</style>
