---
import { NavMenu } from "@components/nav-menu";
---

<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="/"><img src="/favicon.png" alt="" width="28" height="28" /></a>
    </div>
    <div class="site">
      <a href="/"> Tech Flow. </a>
    </div>

    <NavMenu client:load />
  </nav>
</header>

<style>
  .header {
    display: grid;
    grid-template-columns: subgrid;
    font-size: var(--heading3);
    height: var(--header-height);

    > .nav {
      grid-column: 2 / -2;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: minmax(0, auto) minmax(0, 1fr);
      gap: calc(var(--body) / 2);
      align-items: center;
    }
  }
</style>
